/* General Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background-color: #000;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

/* Header Styles */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.logo {
  width: auto;
  height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.5vw;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  max-width: fit-content;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::after,
.active::after {
  transform: scaleX(1);
}

.active,
nav ul li a:hover {
  color: #16e97f;
}

/* Sidebar Styles */
.sidebar {
  width: 300px;
  flex-shrink: 0;
  padding: 20px;

}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
}
/* Slider Container */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Navigation Buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.bird-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bird-image {
  display: block;
  margin: 0 auto 20px;
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button#play-sound,
button#stop-sound {
  margin: 10px;
  background-color: #333;
  color: #fff;
}

button#play-sound:hover,
button#stop-sound:hover {
  background-color: #555;
}

/* Responsive Header */
.hamburger,
.close-button {
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button {
  width: 2rem;
  height: auto;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .close-button {
    display: none;
  }

  nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 1;
    overflow-y: auto;
  }

  nav ul {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav.active {
    display: block;
  }

  .hamburger-container.active {
    z-index: 100;
    .hamburger {
      display: none;
    }
    .close-button {
      display: block;
    }
  }
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer-left h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-right ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-right ul li a:hover {
  color: #16e97f;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}
