header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999;
}
/* absolute on home page */
.home-page header {
  position: absolute;
}

.flex {
  display: flex;
}

.logo {
  width: auto;
  height: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.5vw;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

.learn-more,
nav ul li a {
  max-width: fit-content;
  color: #fff;
  font-weight: bold;
  font-size: 1.7rem;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0;
}

.learn-more::after,
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.learn-more:hover::after,
nav ul li a:hover::after,
.active::after {
  transform: scaleX(1);
}

.active,
nav ul li a:hover {
  color: var(--primary-color);
}

.hamburger,
.close-button {
  display: none;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.close-button {
  width: 2rem;
  height: auto;
}

/* Responsive styling */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .close-button {
    display: none;
  }

  nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(14, 14, 14, 0.94);
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
  }

  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden !important;
  }

  nav ul li {
    margin: 10px 0;
    a {
      font-size: 2rem;
    }
  }

  /* active class */
  nav.active {
    grid-template-rows: 1fr;
    padding: 2rem;
    min-height: 100vh;
  }

  .hamburger-container.active {
    z-index: 100;
    .hamburger {
      display: none;
    }
    .close-button {
      z-index: 100;
      display: block;
    }
  }
}

@media (max-width: 480px) {
  .logo {
    height: 100px;
  }
}
