/* .main-content-details {
  margin: 8px;
  padding: 0 8px;
} */

.main-content-details h5 {
  /* margin: 8px;
  padding: 8px; */
  font-size: 18px;
}

.main-content-details p {
  /* margin: 8px;
  padding: 8px; */
  font-size: 14px;
}

.sub-headings {
  background-color: #0f403d;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  color: white;
  margin: 16px;
  padding: 16px;
  font-size: 24px;
  text-align: center;
}

.facilities {
  display: grid;
  grid-template: 500px / repeat(3, 1fr);
  gap: 2rem;
  border: 10px solid #1a9973;
  padding: 2rem 1rem;
}

.facilities-grid {
  border: 1px solid #0f403d;
  padding: 2rem;
  box-shadow: 2px 2px 2px;
}

.facilities-grid img {
  width: 100%;
}

.facilities-grid h4 {
  margin: 1px;
  padding: 1px;
  font-size: 16px;
}

.facilities-grid p {
  margin: 1px;
  padding: 1px;
  font-size: 14px;
}

.highlight {
  cursor: pointer;
  transform: scale(1.05);
}

.ticket-background {
  margin: 0;
  background-image: url("../images/green.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ticket {
  margin: 32px 10%;
  display: flex;
  border: 1px solid #0f403d;
  box-shadow: 5px 5px 5px 5px;
}

.ticket img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.ticket-details {
  background-color: #1a9973;
  margin: 0;
  padding: 8px;
  display: grid;
  grid-template: repeat(6, auto) / repeat(2, 1fr);
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.details {
  border-bottom: 1px dotted wheat;
  font-weight: 800;
}

.content {
  display: flex;
  border-bottom: 1px dotted wheat;
  transition: all 0.1s ease-in-out;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.content img {
  width: 30px;
  height: auto;
}

.content p {
  flex-grow: 1;
  max-width: 90%;
}

.active-ticket {
  cursor: pointer;
  border-bottom: solid 1px white;
  transition: all 0.1s ease-in-out;
  transform: scale(0.95);
}

@media screen and (max-width: 800px) {
  .facilities-grid {
    border: 1px solid #0f403d;
    padding: 8px;
    box-shadow: 2px 2px 2px;
  }

  .ticket-background {
    margin: 0;
    background-image: none;
  }

  .ticket img {
    display: none;
  }

  .ticket-details {
    background-color: #1a9973;
    margin: 0;
    padding: 8px;
    display: grid;
    grid-template: repeat(6, auto) / repeat(2, 1fr);
    color: white;
    text-transform: uppercase;
    text-align: center;
  }

  .ticket {
    margin: 32px;
    display: flex;
    border: none;
    box-shadow: none;
  }


  .highlight {
    cursor: none;
    transform: none;
  }

  .active-ticket {
    cursor: none;
    transform: none;
    border-bottom: 1px dotted wheat;
  }
}

@media screen and (max-width: 700px) {
  .main-content {
    animation: none;
    background-image: none;
  }

  .sub-headings {
    font-size: 18px;
  }

  .facilities {
    display: flex;
    flex-direction: column;
  }

  .ticket-details {
    background-color: #1a9973;
    margin: 32px;
    padding: 8px;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }

}

@media screen and (max-width: 600px) {
  .sub-headings {
    font-size: 12px;
  }

  .ticket-details {
    display: flex;
    flex-direction: column;
    margin: 8px 32px;
  }
}
