*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #16e97f;
  --secondary-color: #ece8e4;
  --header-height: 182px;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background-color: black;
  overflow-x: hidden;
  /* prevent horizontal scroll for some windows browsers */
}

main {
  padding-bottom: 100px;
}

.sidebar-content-container {
  display: grid;
  grid-template-columns: 19rem 1fr;
  position: relative;
  z-index: 1;
  gap: 2rem;
}

.container {
  align-self: baseline;
  justify-self: center;
  margin: 0rem auto;
  padding-top: 1.2rem;
}

.showing-animal-description .sidebar-next-content {
  display: none;
}

.content-title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-next-content {
  margin: 8px;
  padding: 0 8px;
  max-width: 90ch;
}
