*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #d7b783;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: relative;
}

header .logo {
  width: 50px;
  height: auto;
  position: absolute;
  left: 20px;
  top: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  color: rgb(212, 145, 232);
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
